# **Day 1** :

An Introduction to Python

Data Types, Operators, Variables, Files and Data Structures
```
# This is formatted as code
```

# **Python is:**

Object-Oriented

Interprerted language

Easy to learn

Procedure Oriented

Vast set of libraries and packages

In [ ]:
a = 16
print(type(a))    
a = 16.0
print(type(a))
a = 16j
print(type(a))
a = 'f'
print(type(a))
a = True
print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

# **Operators** 

1. Arithmetic : +, -, /, *, %, //, **
2. Logical : and, or, not
3. Bitwise : &, |, ~, !
4. Assignment : =, +=, -=, .....
5. Comparison : <, >, <=, >=, ==
6. Memebership : in , not in

# **Data Structures**

1. List
2. Tuple
3. Set
4. Dictionary

# **Lists**

Data Structure to store multiple data values indexing possible

In [ ]:

myList = ['Hello', 1, 87.67, 'World', 987]
print(myList)
len(myList)

['Hello', 1, 87.67, 'World', 987]

5

In [ ]:
#remove Operation

#Positional remove
del(myList[2])
myList

myList = ['Hello', 1, 87.67, 'World', 987]
#Paramaeterized remove
myList.remove('Hello')
myList

[1, 'World', 987]

In [ ]:
#pop Positional Operator
myList = ['Hello', 1, 87.67, 'World', 987]
myList.pop(2)

In [ ]:
#Check for presence
4 in myList

False

In [ ]:
#Max/Min
list1 = [1,2,3,4,5,6,7,8,9]
print(max(list1))
print(min(list1))

9
1

In [ ]:
#Adding elements to the list

#Add single element : append()
list2 = [420,89,76,477]
list2.append(5)
print(list2)

#positional append()
list2.insert(2,67)
print(list2)

#Multiple elements add : extend()
list2.extend([4,5,6])
print(list2)

#What is the data type passed in extend function -> list

[420, 89, 76, 477, 5]
[420, 89, 67, 76, 477, 5]
[420, 89, 67, 76, 477, 5, 4, 5, 6]

In [ ]:
#Reassignment
list2[2] = 56
print(list2)

[420, 89, 56, 76, 477, 5, 4, 5, 6]

In [ ]:
#List Sorting - sort()
list5 = [22,-90,-7,9,87,76,-1]
list5.sort()
print(list5)
list5 = [22,-90,-7,9,87,76,-1]
print(sorted(list5))      #list5 remains unchanged

[-90, -7, -1, 9, 22, 76, 87]
[-90, -7, -1, 9, 22, 76, 87]

# **Tuples**

Immutable data structures as a collection of data types

Cannot be extended or appended

Same indexing as lists

In [ ]:
myTup = ('Hello',1,67.89,'World',98.98)
print(myTup[2])
print(myTup[-2])

67.89
World

In [ ]:
#Slicing

print(myTup[0:])
print(myTup[1:3])
print(myTup[-2:-4])

('Hello', 1, 67.89, 'World', 98.98)
(1, 67.89)
()

In [ ]:
#Nested objects in Tuple
#Can we enter a list inside a tuple?  Yes

tuple1 = (10,20,30,[40,50,60])
print(tuple1)
tuple1[3][1] = 70
print(tuple1)

(10, 20, 30, [40, 50, 60])
(10, 20, 30, [40, 70, 60])

In [ ]:
#Concatenation
tuple2 = myTup + tuple1
print(tuple2)

('Hello', 1, 67.89, 'World', 98.98, 10, 20, 30, [40, 70, 60])

In [ ]:
#Deletion

del tuple1
#print(tuple1)

NameError: ignored

In [ ]:
#Tuple methods
tuple3 = (1,1,1,1,2,3,6,45,98,99,99)

print(tuple3.count(1))

#Index
print(tuple3.index(99))

4
9

# **Dictionaries**

Unordered Data Structures
   
Mutable  

Indexed using Key-Value Pairs

No Duplicate Memebers

Keys can be of any data type

In [ ]:
myDict = {1:'Hello', 2:'World', 3:'Python'}
print(myDict)
print(myDict[2])
#dict1 = ('A:'Arnab', 'B':'Bengal', 'C':'Calcutta')
#print(dict1['B'])

{1: 'Hello', 2: 'World', 3: 'Python'}
World

In [ ]:
#Update the dictionary with a new entry
myDict.update({4:'Colab'})
print(myDict)

{1: 'Hello', 2: 'World', 3: 'Python', 4: 'Colab'}

In [ ]:
#Dictionary Functions
print(myDict.get(2))
print(myDict.values())
print(myDict.keys())
print(myDict.items())

World
dict_values(['Hello', 'World', 'Python'])
dict_keys([1, 2, 3])
dict_items([(1, 'Hello'), (2, 'World'), (3, 'Python')])

# **Sets**

Unordered Elements

Unique Elements

Not Indexed

In [ ]:
set1 = {1,1,'hello',2.34,'World'}
print(set1)

{1, 'hello', 2.34, 'World'}

In [ ]:
#Give 2 ways where you can declare a set

b = set([1,2,3,4,2,4,1])
print(b)

{1, 2, 3, 4}

In [ ]:
#Set Functions

print(len(set1))

4

In [ ]:
#Addition of Elements

#Single Elements
set1.add(7)
print(set1)

#multiple Elements
set1.update([1,6,35,7])
print(set1)

{1, 2.34, 7, 'hello', 'World'}
{1, 2.34, 35, 6, 7, 'hello', 'World'}

In [ ]:
#Remove

#Single element removal if sure of presence
set1.remove(1)
print(set1)

#Single element removal if not sure of presence
set1.discard('l')
print(set1)

#Pop
set1.pop()
print(set1)

{2.34, 35, 6, 7, 'hello', 'World'}
{2.34, 35, 6, 7, 'hello', 'World'}
{35, 6, 7, 'hello', 'World'}

In [ ]:
#Set operations

#Union
print(set1|b)
print(set1.union(b))

#Intersection
print(set1 & b)
print(set1.intersection(b))

#Difference
print(set1 - b)
print(set1.difference(b))

{1, 2.34, 35, 2, 3, 6, 7, 4, 'hello', 'World'}
{1, 2.34, 35, 2, 3, 6, 7, 4, 'hello', 'World'}
{1}
{1}
{2.34, 35, 6, 7, 'hello', 'World'}
{2.34, 35, 6, 7, 'hello', 'World'}

# **File Handling**
- Read
- Write
- Append

In [ ]:
import os

In [ ]:
#Read Operation

f = open('H:\Online Applications 2020-21\Techno Main\2013001028_CSE_A_1styr_2020\Clubs\IIC\Feb 2021\Python Bootcamp\Day 1', "r")
print(f.read())

FileNotFoundError: ignored